*,*::before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    padding:0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    overflow-x: hidden;
}


.nav-bar{
    background-color: #242122;
    color: white;
    margin-bottom: -3em;
    
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    cursor: pointer;
    position: absolute;
    top: 2.4em;
    left: 2em;
}
header{
    padding-top: .8em;
    text-align: center;
    
}
header h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

header span{
    color: #878787;
}
header h3{
    margin: -1.5em auto 1em auto;
    max-width: 40%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    text-align: end;
    
}
.nav{
    opacity: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: all ease .4s;
    padding-bottom: 0.1em;
    height: 0vh;
    
}
.nav li{
    list-style:none;
    line-height: 3em;
    
}
.nav a{
    text-decoration: none;
    color: #878787; 
    font-size: 1.3em;
    border-bottom: 1.5px white solid;
    display: block;
    width: 90%; 
}
#nav-toggle:checked ~ .nav-bar .nav{
    height: auto;
    transition: all ease .5s;
    opacity: 1;
    transform: scale(1,1);
}

.section-1{
    background-image: url(res/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vw;
    
}
.section-1-text{
    color: white;
    padding-left: 1.5em;
    transform: translate(10%,100%);
    
}
.section-1-text h2{
    line-height: .2em;
    font-size: 7vw;
    font-weight: 540;
}
.section-1-text a{
    margin-top: .5em;
    display: inline-block;
    color: black;
    background-color: white;
    font-weight: bolder;
}
.btn{

    font-size: 3vw;
    text-decoration: none;
    padding: .75em .5em;
    outline: 1.5px solid white;
    transition: all ease .3s;
}
.btn:hover{
    color: white;
    background: transparent;
    outline: 1.5px solid white;
    outline-offset: -8px;
}
.section-2{
    color: #222222;
    margin: 2.5em 1em;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    
}
.section-2 span{
    color: #00AC7C;
}
.section-2::first-letter{
    color: #00AC7C;
}
.section-3{
    font-size: 1.4em;
    display: grid;
    text-align: center;
}
.section-3 h3{
    display: inline;
    position: relative;
}
.section-3 h3::before{
    content: '';
    background-color: #00AC7C;
    position: absolute;
    width: 100%;
    height: 7%;
    top: 120%;
}
.section-3 p{
    font-size: .9em;
    line-height: 1.5em;
    margin-bottom: 2em;
}
.section-4{
    background-image: url(res/2.jpg);
    background-position: bottom;
    background-size: cover;
    height: 50vw;
    color: #262626;
    font-size: 2em;
}
.section-4-text{
    transform: translate(10%,50%);
}
.section-4 a{
    font-size: .8em;
    background: white;
    color: #262626;
    font-weight: 800;
}
.section-5{
    margin: 2em 1em;
}
.price{
    text-align: center;
    margin: 5em auto;
}
.price h2{
    font-size: 2em;
}
.pricing{
    display: grid;
    max-width: 85%;
    margin: auto;
    text-align: center;
}
.con-1{
    display: grid;
    padding: 1.5em .2em;
    margin: 1em 0em;
}
.section-5 h2{
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
}
.section-5 span{
    color: #00AC7C;
}
.con-1 p{
    font-size: 1.1em;
    margin: 1em auto;
    max-width: 70%;

}
.dollar{
    color: #8b8b8b;
}
.btns{
    padding: .5em 1.5em;
    color: #00AC7C;
    border: .75px black solid;
    border-radius: 8%;
    text-decoration: none;
    transition: ease .3s ;
    font-weight: 550;
}
.btns:hover{
    color: white;
    background: black;
}
.section-6{
    height: 30vh;
    background-image: url(res/3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.section-7{
    margin: 6.5em 2em ;
}
.section-7 h2{
    text-align: center;
    font-size: 1.9em;
}
.card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.section-7-1{
    text-align: center;
    display: grid;

}
.section-7-1 p{
    max-width: 80%;
    margin:  1em auto 3em auto;
    line-height: 1.7em;
    color: #bfbfbf;
}
.card{
    margin: .5em 0em;
    padding: 1em;
    border: .5px rgb(59, 23, 23) solid;
    border-radius: 1%;
    box-shadow: 3px 2px 1px 1px #00AC7C ;
    background-image: url(res/7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    margin: 1em auto;
    background-color: #262626;
    color: white;
}

.footer li{
    list-style: none;
    line-height: 3em;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer-grid a:hover{
    border-bottom: 1.5px #00AC7C solid;
    transition: .2s ;
}
.social{
    padding-top: 1.5em;
    text-align: center;
}
.social li{
    display: inline;
    padding: 2em;
}
.social a{
    color: #00AC7C;
}
.social a:hover{
    color:white;
    transition: .3s ;
    
}
.footer h2{
    font-size: 2em;
}
.footer span{
    padding-right: 1.5em;
}
.footer-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.footer-grid{
    display: grid;
    border-bottom: 1px #595959 solid;
    margin: auto 4em;
}
.footer-grid li{
    margin-left: -2em;
}
.footer p{
    text-align: center;
    padding-bottom: 1em;
}









@media (min-width:750px){
    .nav-toggle-label{
        left: 7em;
    }
    .nav a{
        font-size: 1.4em;
    }
    header h3{
        max-width: 20%;
    }
    .section-1-text h2{
        font-size: 6vw;
    }
    .section-1-text a{
        font-size: 2.5vw;
    }
    .section-2{
        margin: 2.9em 2em;
    }
    .section-3{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1em;
        margin: 0em 1em;
    }
    .section-3 h3::before{
        top: 110%;
    }
    .pricing{
        text-align: start;

    }
    .con-1 p{
        font-size: 1.1em;
        font-size: 1.1em;
        margin: 1em 0em;
        max-width: 80%;
        
    
    }
    .section-6{
        margin: auto;
        height: 55vh;
        width: 98%;
        background-size: cover;
        background-position: center;
    }
    .footer-grid{
        margin: auto 8em;
    }


}
@media(min-width:950px){
    .nav-bar{
        margin-bottom: -3.5em;
    }
    .section-4-text{
        transform: translate(15%,150%);
        font-size: 1.2em;
        
    }
    .pricing{
        margin-left: 5em;
    }
    .section-7-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
    .card{
        cursor: pointer;

    }
    .card-text{
        transform: translateY(100%);
        transform: scale(1,0);
        transform-origin: bottom;
        transition: all .5s ease;
        outline: 1px #00AC7C solid;

    }
    .card:hover{
        filter: grayscale(0.5);
        transition: .5s linear;
        outline: 1px #00AC7C solid;
        outline-offset: -16px;
        
        
    }
    
    
    .card:hover .card-text{
        transform: scale(1,1);
        
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

}

@media (min-width:1050px){

    .nav{
        all: unset;
    }
    .nav-bar{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        align-items: center;
        padding: 2em 0.2em 1em 5em;
        
    }
    .nav li{
        all: unset;
        padding: .5em;
    }
    .nav a{
        all: unset;
        text-decoration: none;
        font-size: .85em;
        cursor: pointer;
        display: inline;
        position: relative;
    }
    .nav a::before{
        content: '';
        background: #00AC7C;
        position: absolute;
        width: 100%;
        height: 15%;
        top: 120%;
        transform: scale(0,1);
        transform-origin: left;
        transition: ease .3s;

    }
    .nav a:hover{
        color: #00AC7C;
        transition: ease .5s;
    }
    .nav a:hover::before{
        
        transform: scale(1,1);
        
    }
    .nav-toggle-label{
        display: none;
    }
    header{
        all: unset;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    header h1{
        all: unset;
        font-family: 'Oswald', sans-serif;
        font-weight: bolder;
        font-size: 2.8em;
    }
    
    header h3{
        all: unset;
        font-family: 'Oswald', sans-serif;
        font-size: 1.4em;
        align-self: flex-end;
    }
    .section-1{
        height: 50vw;
    }
    .section-1-text{
        transform: translate(5%,70%);
        
    }
    .section-1-text h2{
        font-size: 5vw;
    }
    .section-1-text a{
        font-size: 2vw;
    }
    .section-2{
        margin: 2.5em auto;
        font-size: 1.7em;
        max-width: 70%;
    }
    .section-3{
        margin-top: 3em;
        font-size: 1.25em;
    }
    .con-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .prix-2{
        padding: 1.5em 1.5em;
        align-self: center;
        border: 1px rgb(58, 50, 50, 0.5) solid;
        border-radius: 2%;
        box-shadow: 2px 2px rgb(59, 50, 50);
    }
    .pricing h2 {
        cursor: pointer;
        position: relative;
        display: inline;
    }
    .pricing h2::before{
        content: '';
        background: #00AC7C;
        position: absolute;
        width: 100%;
        height: 7.5%;
        top: 120%;
        transform: scale(0,1);
        transform-origin: left;
        transition: ease .3s;

    }
    .pricing h2:hover::before{
        
        transform: scale(1,1);
        transform-origin: right;
    }
    .pricing h2:hover{
        opacity: 0.8;
    }
    
    


}
@media (min-width:1250px){

        .prix-btn{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .prix-btn-2{
            align-self: center;
        }
        .prix-btn{
            border-top: 1px rgb(59, 50, 50) solid;
            border-bottom: 1px rgb(66, 54, 54) solid;
        }


}



